.goback_button {
    position: absolute;
    top: 1%;
    left: 1%;
    background-color: blue;
    padding: 0.5%;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.public_chat_container {
    display: grid;
    height: 70vh;
    grid-template-rows: 90% 10%;
    border-radius: 10px;
    overflow: hidden;
}

.public_chat_container > #messages_container {
    border: 1px solid black;
    background-color: rgb(33, 32, 32);
    padding: 1%;
    display: flex;
    gap: 1%;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;

    #message_from_you {
        border-radius: 10px 0px 10px 10px;
        padding: 1%;
        background-color: rgb(70, 70, 225);
        color: white;
        align-self: flex-end;
        text-align: right;

        /* #user_name {
                display: block;
                font-weight: bold;
            } */
        #user_message {
            display: block;
        }

        #message_date {
            display: block;
            color: rgba(255, 255, 255, 0.707);
        }
    }

    #message_from_other {
        border-radius: 0px 10px 10px 10px;
        padding: 1%;
        background-color: rgb(92, 92, 92);
        color: white;
        align-self: flex-start;
        text-align: left;

        #title_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5%;
            margin-bottom: 5%;

            img {
                height: 25px;
                width: 25px;
                border-radius: 50%;
            }

            #user_name {
                font-weight: bold;
                padding-right: 10px;
                text-transform: capitalize;
                text-wrap: nowrap;
            }
        }

        #user_message {
            display: block;
        }

        #message_date {
            display: block;
            color: rgba(255, 255, 255, 0.707);
        }
    }
}

.public_chat_container > #send_container {
    display: grid;
    grid-template-columns: 80% 20%;

    textarea {
        resize: none;
        padding: 0 1%;
        color: #fff;
        font-size: 1.1rem;
        background-color: rgb(50, 50, 50);
    }
    textarea:hover,
    textarea:focus {
        outline: 1px solid #4caf50;
    }

    button {
        border: none;
        /* background-color: rgb(14, 147, 14); */
        background-color: rgb(14, 147, 14);
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
    }
    button:focus,
    button:hover {
        background-color: rgb(20, 180, 20);
    }
}
